body {
  background: #ffc;
  color: #222;
}

.definition {
  background: #333;
  color: #eee;
}

.author {
  color: #bbb;
}

.footer {
  color: #666;
}

a:link, a:visited, a:active, a:hover {
  color: inherit;
}
